[Desktop Entry]
Name=Cloud Mounter
Comment=Manage online storage mounts and offline storage mirrors for the COSMIC desktop
Type=Application
Icon=io.github.uutzinger.cosmic-ext-applet-mounter
Exec=cosmic-ext-applet-mounter
Terminal=false
StartupNotify=true
StartupWMClass=io.github.uutzinger.cosmic-ext-applet-mounter
Categories=COSMIC;Utility;
Keywords=COSMIC;cloud;mount;mirror;storage;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
